html{
    height: 100%;
    width: 100%;
}
#background{
    height: 100%;
    width: 100%;
    position:fixed;

}

#colorTxt{
    background-color: black;
    height: 20px;
    width: 275px;
    color: white;
    text-align: center;
}